# Virtual environments
#venv/
.venv/

# Environment/config files
#.env.qa
#.env.*
#*.env

# Python cache
__pycache__/
*.py[cod]

# Pytest cache
.pytest_cache/

# Logs and reports
logs/
reports/

# IDE/editor settings
.idea/